body {
    background-color: #fafafa;
}

.jumbotron {
    background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
    padding: 70px 30px 70px 30px;
    color: floralwhite;
}

.row-dashboard {
    padding: 50px 0;
}

.row-card {
    padding: 0px;
}

.barGraph {
    text-align: center;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    padding: 0px;
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.2);
}

.bars {
    fill: #457b9d;
}

.bars:hover {
     opacity: 80%;
}

.table {
    max-width: 600px;
    /* text-align: center; */
}
.center {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.balanceText {
     font-family: sans-serif;
     font-size: 11px;
     fill: white;
     text-anchor: end;
}

.axisLabel {
     font-family: sans-serif;
     font-size: 12px;
     text-anchor: middle;
}
.card-header {
    padding: 1rem 3rem;
}
.plusButton {
    font-size: 25px;
}
.card-header .btn-link {
    color: black;
}
.card-header .btn-link:focus {
    box-shadow: none;
}