body {
    background-color: #fafafa;
}
.navbar-dark {
     background-color: #304ffe;
}
.jumbotron {
    background: url('gradient1.jpg') no-repeat;
    padding: 80px 30px 80px 30px;
    margin: 0px;
    color: floralwhite;
    border-radius: 0;
}
.row-header {
     padding: 30px 10px 10px 10px;
}
.row-dashboard {
    padding: 50px 0;
}
.row-login {
     padding: 100px 0;
}

.row-card {
    padding: 0px;
}
.card {
    padding: 0px;
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.2);
}

.bars {
    fill: #457b9d;
}

.bars:hover {
     opacity: 80%;
}

.card-header {
    padding: 1rem 3rem;
}
.plusButton {
    font-size: 25px;
}
.btn-card {
    color:#616161;
    padding: 0px 3px;
}
.btn-card:hover {
    text-decoration: none;
    color: #212121;
}
.btn-card:focus {
    text-decoration: none;
    box-shadow: none;
}
.btn-row {
    opacity: 0;
}
tr:hover .btn-row {
    opacity: 100;
}
.validation-error {
     font-size: x-small;
     color: red;
}
.login-box {
     width: 450px;
}